// - - - - - - - - - - - - - - - - - - - - - - - - -
// Miscellaneous
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Outlines
div, button { outline: none !important; }

// Margins
.no-margin-top { margin-top: 0 !important; }
.tiny-margin-top { margin-top: rem-calc(5) !important; }
.small-margin-top { margin-top: rem-calc(10) !important; }
.medium-margin-top { margin-top: rem-calc(25) !important; }
.large-margin-top { margin-top: rem-calc(40) !important; }
.xlarge-margin-top { margin-top: rem-calc(55) !important; }
.no-margin-right { margin-right: 0 !important; }
.tiny-margin-right { margin-right: rem-calc(5) !important; }
.small-margin-right { margin-right: rem-calc(10) !important; }
.medium-margin-right { margin-right: rem-calc(25) !important; }
.large-margin-right { margin-right: rem-calc(40) !important; }
.xlarge-margin-right { margin-right: rem-calc(55) !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.tiny-margin-bottom { margin-bottom: rem-calc(5) !important; }
.small-margin-bottom { margin-bottom: rem-calc(10) !important; }
.medium-margin-bottom { margin-bottom: rem-calc(25) !important; }
.large-margin-bottom { margin-bottom: rem-calc(40) !important; }
.xlarge-margin-bottom { margin-bottom: rem-calc(55) !important; }
.no-margin-left { margin-left: 0 !important; }
.tiny-margin-left { margin-left: rem-calc(5) !important; }
.small-margin-left { margin-left: rem-calc(10) !important; }
.medium-margin-left { margin-left: rem-calc(25) !important; }
.large-margin-left { margin-left: rem-calc(40) !important; }
.xlarge-margin-left { margin-left: rem-calc(55) !important; }
.no-margin-side {
	margin-right: 0 !important;
	margin-left: 0 !important;
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Main container
// - - - - - - - - - - - - - - - - - - - - - - - - -

.main-block {
	border-top: solid 25px $secondary-color;
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Main container
// - - - - - - - - - - - - - - - - - - - - - - - - -

.main-container {
	width: 1280px;
	margin-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

.inline-label a.button.right-radius {
	@include border-right-radius($global-radius);
}
.btn {
	@include button;
	margin: 0;
	&.btn-success { @include button-style($primary-color, auto); }
	&.btn-info { @include button-style($success-color, auto); }
	&.btn-danger { @include button-style($alert-color, auto); }
	&.btn-link {
		color: $primary-color;
		@include button-style(#ffffff, auto);
	}
	&.btn-sm { @include button-size(small); }
}
button[disabled] { @include button-disabled; }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Dropdowns
// - - - - - - - - - - - - - - - - - - - - - - - - -

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: rem-calc(100);
	padding: rem-calc(5) 0;
	margin: rem-calc(4) 0 0 0;
	background-color: #ffffff;
	background-clip: padding-box;
	border: none;
	font-size: rem-calc(14);
	list-style: none;
	outline: none;
	@include border-radius($global-radius);
	@include box-shadow(-2px 2px 10px 0 $dark-color);
	table {
		outline: none;
		border-width: 0;
		thead {
			background: #ffffff;
			th { padding: rem-calc(3) rem-calc(5); }
		}
		tbody tr td {
			padding: rem-calc(3) rem-calc(5);
			font-size: 95% !important;
		}
	}
}