<div class="kh-form__top"></div>
<div class="kh-form kh-form__container">
<form class="kh-form__form" action="">
  <h1>Edit Amazing Thing</h1>
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" class="form-control" type="text" ng-model="data.name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" class="form-control" type="text" ng-model="data.description">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" ng-click="edit()">OK</button>
  </div>
</form>
</div>
<div class="kh-form__bottom"></div>
