.kh-form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  min-height: 268px;
}

.kh-form__form {
  width: 100%;
  height: 268px;
}

.kh-form__top {
  height: 20px;
}

.kh-form__bottom {
  height: 30px;
}

.kh-grid {
  height: calc(52px + 30px * 2);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
