// - - - - - - - - - - - - - - - - - - - - - - - - -
// Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -

.footer {
    padding-top: 40px;
    padding-bottom: 50px;
    p {
        font-size: 14px;
        .push-right {
            padding-right: 25px;
        }
    }
}